<ul class="nav navbar-nav">
    <li>@Html.ActionLink("Medewerkers", "Medewerkers", "Account")</li>

    @* #2: M.W.D. Buis (20-12-2019): knop om naar de technicussen te gaan. *@
    <li>@Html.ActionLink("Technicussen", "Technicussen", "Account")</li>
    
    <li>@Html.ActionLink("Klanten", "Klanten", "Account")</li>
    <li>@Html.ActionLink("Tickets", "Index", "Tickets")</li>
    <li>@Html.ActionLink("Applicaties", "Index", "Applicaties")</li>
</ul>
